* {
  box-sizing: border-box;
}

body {
  background: #2d2013;
  color: #fff;
  font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #222;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: white;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}

.cards {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 440px;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
}

.card img {
  cursor: pointer;
  position: relative;
  height: 80px;
  width: 80px;
  text-align: center;
}

.card {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  height: 80px;
  width: 80px;
  text-align: center;
}

.correct {
  visibility: hidden;
}

.opened {
  pointer-events: none;
}
